In [2]:
import pandas as pd
import os

In [3]:
data = pd.read_csv('..\\DataMining\\src\\data\\NewDataAfterCluster.csv')
data

,InvoiceNo,StockCode,Quantity,UnitPrice,TotalAmount,Hour,Month,Weekdays,cluster
0,536365,71053,6,3.39,20.34,8,12,2,cluster3
1,536365,22752,2,7.65,15.30,8,12,2,cluster3
2,536365,21730,6,4.25,25.50,8,12,2,cluster3
3,536366,22633,6,1.85,11.10,8,12,2,cluster3
4,536366,22632,6,1.85,11.10,8,12,2,cluster3
...,...,...,...,...,...,...,...,...,...
363082,581587,22613,12,0.85,10.20,12,12,4,cluster2
363083,581587,22899,6,2.10,12.60,12,12,4,cluster2
363084,581587,23254,4,4.15,16.60,12,12,4,cluster2
363085,581587,23255,4,4.15,16.60,12,12,4,cluster2
363086,581587,22138,3,4.95,14.85,12,12,4,cluster2

In [25]:
clusters = data['cluster'].unique()
n_cluster = len(clusters)
clusters

array(['cluster3', 'cluster2', 'cluster1'], dtype=object)

In [26]:
cluster_data_list = [data[data['cluster']==i] for i in clusters]

In [27]:
pivot_tab_list = [pd.pivot_table(data=i, index='InvoiceNo', columns='StockCode',values='Quantity', aggfunc='sum',fill_value=0) for i in cluster_data_list]
pivot_tab_list

[StockCode  10002  10080  10120  10125  10133  10135  11001  15030  15034  \
 InvoiceNo
 536365         0      0      0      0      0      0      0      0      0
 536366         0      0      0      0      0      0      0      0      0
 536367         0      0      0      0      0      0      0      0      0
 536368         0      0      0      0      0      0      0      0      0
 536369         0      0      0      0      0      0      0      0      0
 ...          ...    ...    ...    ...    ...    ...    ...    ...    ...
 581192         0      0      0      0      0      0      0      0      0
 581193         0      0      0      0      0      0      0      0      0
 581194         0      0      0      0      0      0      0      0      0
 581195         0      0      0      0      0      0      0      0      0
 581196         0      0      0      0      0      0      0      0      0

 StockCode  15036  ...  90159  90166  90170  90173  90174  90191  90192  90194  \
 InvoiceNo         ...
 536365         0  ...      0      0      0      0      0      0      0      0
 536366         0  ...      0      0      0      0      0      0      0      0
 536367         0  ...      0      0      0      0      0      0      0      0
 536368         0  ...      0      0      0      0      0      0      0      0
 536369         0  ...      0      0      0      0      0      0      0      0
 ...          ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
 581192         0  ...      0      0      0      0      0      0      0      0
 581193         0  ...      0      0      0      0      0      0      0      0
 581194         0  ...      0      0      0      0      0      0      0      0
 581195         0  ...      0      0      0      0      0      0      0      0
 581196         0  ...      0      0      0      0      0      0      0      0

 StockCode  90204  90208
 InvoiceNo
 536365         0      0
 536366         0      0
 536367         0      0
 536368         0      0
 536369         0      0
 ...          ...    ...
 581192         0      0
 581193         0      0
 581194         0      0
 581195         0      0
 581196         0      0

 [5739 rows x 2613 columns],
 StockCode  10002  10080  10120  10125  10133  10135  11001  15030  15034  \
 InvoiceNo
 536598         0      0      0      0      0      0      0      0      0
 536599         0      0      0      0      0      0      0      0      0
 536600         0      0      0      0      0      0      0      0      0
 536601         0      0      0      0      0      0      0      0      0
 536602         0      0      0      0      0      0      0      0      0
 ...          ...    ...    ...    ...    ...    ...    ...    ...    ...
 581583         0      0      0      0      0      0      0      0      0
 581584         0      0      0      0      0      0      0      0      0
 581585         0      0      0      0      0      0      0      0      0
 581586         0      0      0      0      0      0      0      0      0
 581587         0      0      0      0      0      0      0      0      0

 StockCode  15036  ...  90169  90170  90173  90174  90188  90191  90192  90194  \
 InvoiceNo         ...
 536598         0  ...      0      0      0      0      0      0      0      0
 536599         0  ...      0      0      0      0      0      0      0      0
 536600         0  ...      0      0      0      0      0      0      0      0
 536601         0  ...      0      0      0      0      0      0      0      0
 536602         0  ...      0      0      0      0      0      0      0      0
 ...          ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
 581583         0  ...      0      0      0      0      0      0      0      0
 581584         0  ...      0      0      0      0      0      0      0      0
 581585         0  ...      0      0      0      0      0      0      0      0
 581586         0  ...      0      0      0      0      0      0      0      0
 581587         0  ...      0      0      0      0      0      0      0      0

 StockCode  90204  90208
 InvoiceNo
 536598         0      0
 536599         0      0
 536600         0      0
 536601         0      0
 536602         0      0
 ...          ...    ...
 581583         0      0
 581584         0      0
 581585         0      0
 581586         0      0
 581587         0      0

 [5993 rows x 2634 columns],
 StockCode  10002  10080  10120  10125  10133  10135  11001  15030  15034  \
 InvoiceNo
 539993         0      0      0      0      0      0      0      0      0
 540001         0      0      0      0      0      0      0      0      0
 540002         0      0      0      0      0      0      0      0      0
 540003         0      0      0      0      0      0      0      0      0
 540004         0      0      0      0      0      0      0      0      0
 ...          ...    ...    ...    ...    ...    ...    ...    ...    ...
 561518         0      0      0      0      0      0      0      0      0
 561519         0      0      0      0      7      0      0      0      0
 561520         0      0      0      0      0      0      0      0      0
 561521         0      0      0      0      0      0      0      0      0
 561522         0      0      0      0      0      0      0      0      0

 StockCode  15036  ...  90159  90166  90170  90173  90174  90191  90192  90194  \
 InvoiceNo         ...
 539993         0  ...      0      0      0      0      0      0      0      0
 540001         0  ...      0      0      0      0      0      0      0      0
 540002         0  ...      0      0      0      0      0      0      0      0
 540003         0  ...      0      0      0      0      0      0      0      0
 540004         0  ...      0      0      0      0      0      0      0      0
 ...          ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
 561518         0  ...      0      0      0      0      0      0      0      0
 561519         0  ...      0      0      0      0      0      0      0      0
 561520         0  ...      0      0      0      0      0      0      0      0
 561521         0  ...      0      0      0      0      0      0      0      0
 561522         0  ...      0      0      0      0      0      0      0      0

 StockCode  90204  90208
 InvoiceNo
 539993         0      0
 540001         0      0
 540002         0      0
 540003         0      0
 540004         0      0
 ...          ...    ...
 561518         0      0
 561519         0      0
 561520         0      0
 561521         0      0
 561522         0      0

 [6488 rows x 2397 columns]]

In [28]:
transaction_tab_list = [i.applymap(lambda x: 1 if x > 0 else 0) for i in pivot_tab_list]

In [29]:
transaction_tab_list

[StockCode  10002  10080  10120  10125  10133  10135  11001  15030  15034  \
 InvoiceNo
 536365         0      0      0      0      0      0      0      0      0
 536366         0      0      0      0      0      0      0      0      0
 536367         0      0      0      0      0      0      0      0      0
 536368         0      0      0      0      0      0      0      0      0
 536369         0      0      0      0      0      0      0      0      0
 ...          ...    ...    ...    ...    ...    ...    ...    ...    ...
 581192         0      0      0      0      0      0      0      0      0
 581193         0      0      0      0      0      0      0      0      0
 581194         0      0      0      0      0      0      0      0      0
 581195         0      0      0      0      0      0      0      0      0
 581196         0      0      0      0      0      0      0      0      0

 StockCode  15036  ...  90159  90166  90170  90173  90174  90191  90192  90194  \
 InvoiceNo         ...
 536365         0  ...      0      0      0      0      0      0      0      0
 536366         0  ...      0      0      0      0      0      0      0      0
 536367         0  ...      0      0      0      0      0      0      0      0
 536368         0  ...      0      0      0      0      0      0      0      0
 536369         0  ...      0      0      0      0      0      0      0      0
 ...          ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
 581192         0  ...      0      0      0      0      0      0      0      0
 581193         0  ...      0      0      0      0      0      0      0      0
 581194         0  ...      0      0      0      0      0      0      0      0
 581195         0  ...      0      0      0      0      0      0      0      0
 581196         0  ...      0      0      0      0      0      0      0      0

 StockCode  90204  90208
 InvoiceNo
 536365         0      0
 536366         0      0
 536367         0      0
 536368         0      0
 536369         0      0
 ...          ...    ...
 581192         0      0
 581193         0      0
 581194         0      0
 581195         0      0
 581196         0      0

 [5739 rows x 2613 columns],
 StockCode  10002  10080  10120  10125  10133  10135  11001  15030  15034  \
 InvoiceNo
 536598         0      0      0      0      0      0      0      0      0
 536599         0      0      0      0      0      0      0      0      0
 536600         0      0      0      0      0      0      0      0      0
 536601         0      0      0      0      0      0      0      0      0
 536602         0      0      0      0      0      0      0      0      0
 ...          ...    ...    ...    ...    ...    ...    ...    ...    ...
 581583         0      0      0      0      0      0      0      0      0
 581584         0      0      0      0      0      0      0      0      0
 581585         0      0      0      0      0      0      0      0      0
 581586         0      0      0      0      0      0      0      0      0
 581587         0      0      0      0      0      0      0      0      0

 StockCode  15036  ...  90169  90170  90173  90174  90188  90191  90192  90194  \
 InvoiceNo         ...
 536598         0  ...      0      0      0      0      0      0      0      0
 536599         0  ...      0      0      0      0      0      0      0      0
 536600         0  ...      0      0      0      0      0      0      0      0
 536601         0  ...      0      0      0      0      0      0      0      0
 536602         0  ...      0      0      0      0      0      0      0      0
 ...          ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
 581583         0  ...      0      0      0      0      0      0      0      0
 581584         0  ...      0      0      0      0      0      0      0      0
 581585         0  ...      0      0      0      0      0      0      0      0
 581586         0  ...      0      0      0      0      0      0      0      0
 581587         0  ...      0      0      0      0      0      0      0      0

 StockCode  90204  90208
 InvoiceNo
 536598         0      0
 536599         0      0
 536600         0      0
 536601         0      0
 536602         0      0
 ...          ...    ...
 581583         0      0
 581584         0      0
 581585         0      0
 581586         0      0
 581587         0      0

 [5993 rows x 2634 columns],
 StockCode  10002  10080  10120  10125  10133  10135  11001  15030  15034  \
 InvoiceNo
 539993         0      0      0      0      0      0      0      0      0
 540001         0      0      0      0      0      0      0      0      0
 540002         0      0      0      0      0      0      0      0      0
 540003         0      0      0      0      0      0      0      0      0
 540004         0      0      0      0      0      0      0      0      0
 ...          ...    ...    ...    ...    ...    ...    ...    ...    ...
 561518         0      0      0      0      0      0      0      0      0
 561519         0      0      0      0      1      0      0      0      0
 561520         0      0      0      0      0      0      0      0      0
 561521         0      0      0      0      0      0      0      0      0
 561522         0      0      0      0      0      0      0      0      0

 StockCode  15036  ...  90159  90166  90170  90173  90174  90191  90192  90194  \
 InvoiceNo         ...
 539993         0  ...      0      0      0      0      0      0      0      0
 540001         0  ...      0      0      0      0      0      0      0      0
 540002         0  ...      0      0      0      0      0      0      0      0
 540003         0  ...      0      0      0      0      0      0      0      0
 540004         0  ...      0      0      0      0      0      0      0      0
 ...          ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
 561518         0  ...      0      0      0      0      0      0      0      0
 561519         0  ...      0      0      0      0      0      0      0      0
 561520         0  ...      0      0      0      0      0      0      0      0
 561521         0  ...      0      0      0      0      0      0      0      0
 561522         0  ...      0      0      0      0      0      0      0      0

 StockCode  90204  90208
 InvoiceNo
 539993         0      0
 540001         0      0
 540002         0      0
 540003         0      0
 540004         0      0
 ...          ...    ...
 561518         0      0
 561519         0      0
 561520         0      0
 561521         0      0
 561522         0      0

 [6488 rows x 2397 columns]]

In [30]:
for i in transaction_tab_list:
    i.index.name = None
    i.columns.name = None

In [31]:
transaction_tab_list

[        10002  10080  10120  10125  10133  10135  11001  15030  15034  15036  \
 536365      0      0      0      0      0      0      0      0      0      0
 536366      0      0      0      0      0      0      0      0      0      0
 536367      0      0      0      0      0      0      0      0      0      0
 536368      0      0      0      0      0      0      0      0      0      0
 536369      0      0      0      0      0      0      0      0      0      0
 ...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 581192      0      0      0      0      0      0      0      0      0      0
 581193      0      0      0      0      0      0      0      0      0      0
 581194      0      0      0      0      0      0      0      0      0      0
 581195      0      0      0      0      0      0      0      0      0      0
 581196      0      0      0      0      0      0      0      0      0      0

         ...  90159  90166  90170  90173  90174  90191  90192  90194  90204  \
 536365  ...      0      0      0      0      0      0      0      0      0
 536366  ...      0      0      0      0      0      0      0      0      0
 536367  ...      0      0      0      0      0      0      0      0      0
 536368  ...      0      0      0      0      0      0      0      0      0
 536369  ...      0      0      0      0      0      0      0      0      0
 ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 581192  ...      0      0      0      0      0      0      0      0      0
 581193  ...      0      0      0      0      0      0      0      0      0
 581194  ...      0      0      0      0      0      0      0      0      0
 581195  ...      0      0      0      0      0      0      0      0      0
 581196  ...      0      0      0      0      0      0      0      0      0

         90208
 536365      0
 536366      0
 536367      0
 536368      0
 536369      0
 ...       ...
 581192      0
 581193      0
 581194      0
 581195      0
 581196      0

 [5739 rows x 2613 columns],
         10002  10080  10120  10125  10133  10135  11001  15030  15034  15036  \
 536598      0      0      0      0      0      0      0      0      0      0
 536599      0      0      0      0      0      0      0      0      0      0
 536600      0      0      0      0      0      0      0      0      0      0
 536601      0      0      0      0      0      0      0      0      0      0
 536602      0      0      0      0      0      0      0      0      0      0
 ...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 581583      0      0      0      0      0      0      0      0      0      0
 581584      0      0      0      0      0      0      0      0      0      0
 581585      0      0      0      0      0      0      0      0      0      0
 581586      0      0      0      0      0      0      0      0      0      0
 581587      0      0      0      0      0      0      0      0      0      0

         ...  90169  90170  90173  90174  90188  90191  90192  90194  90204  \
 536598  ...      0      0      0      0      0      0      0      0      0
 536599  ...      0      0      0      0      0      0      0      0      0
 536600  ...      0      0      0      0      0      0      0      0      0
 536601  ...      0      0      0      0      0      0      0      0      0
 536602  ...      0      0      0      0      0      0      0      0      0
 ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 581583  ...      0      0      0      0      0      0      0      0      0
 581584  ...      0      0      0      0      0      0      0      0      0
 581585  ...      0      0      0      0      0      0      0      0      0
 581586  ...      0      0      0      0      0      0      0      0      0
 581587  ...      0      0      0      0      0      0      0      0      0

         90208
 536598      0
 536599      0
 536600      0
 536601      0
 536602      0
 ...       ...
 581583      0
 581584      0
 581585      0
 581586      0
 581587      0

 [5993 rows x 2634 columns],
         10002  10080  10120  10125  10133  10135  11001  15030  15034  15036  \
 539993      0      0      0      0      0      0      0      0      0      0
 540001      0      0      0      0      0      0      0      0      0      0
 540002      0      0      0      0      0      0      0      0      0      0
 540003      0      0      0      0      0      0      0      0      0      0
 540004      0      0      0      0      0      0      0      0      0      0
 ...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 561518      0      0      0      0      0      0      0      0      0      0
 561519      0      0      0      0      1      0      0      0      0      0
 561520      0      0      0      0      0      0      0      0      0      0
 561521      0      0      0      0      0      0      0      0      0      0
 561522      0      0      0      0      0      0      0      0      0      0

         ...  90159  90166  90170  90173  90174  90191  90192  90194  90204  \
 539993  ...      0      0      0      0      0      0      0      0      0
 540001  ...      0      0      0      0      0      0      0      0      0
 540002  ...      0      0      0      0      0      0      0      0      0
 540003  ...      0      0      0      0      0      0      0      0      0
 540004  ...      0      0      0      0      0      0      0      0      0
 ...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
 561518  ...      0      0      0      0      0      0      0      0      0
 561519  ...      0      0      0      0      0      0      0      0      0
 561520  ...      0      0      0      0      0      0      0      0      0
 561521  ...      0      0      0      0      0      0      0      0      0
 561522  ...      0      0      0      0      0      0      0      0      0

         90208
 539993      0
 540001      0
 540002      0
 540003      0
 540004      0
 ...       ...
 561518      0
 561519      0
 561520      0
 561521      0
 561522      0

 [6488 rows x 2397 columns]]

In [32]:
for i in range(len(transaction_tab_list)):
    transaction_tab_list[i].to_csv("..\\DataMining\\src\\data\\cluster_"+str(i+1)+"_transaction_data.csv", index=None)